.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .card {
    margin: 0 2% !important;
  }
  
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    /* border-top: 10px solid rgba(0, 0, 255, 0.5); */
    box-shadow: 5px 7px 5px 7px #888888 !important;
  }

  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    box-shadow: 5px 7px 5px 7px #888888 !important;
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    box-shadow: 5px 7px 5px 7px #888888 !important;
  }
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 4% 0 !important;
    }
  }
